# Build output
dist
*.local

# Dependencies
node_modules

# Environment variables
.env.local
.env.*.local
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - IntelliJ / WebStorm
.idea/
*.iml
*.iws
*.ipr

# IDE - Sublime Text
*.sublime-project
*.sublime-workspace

# IDE - Vim
*.swp
*.swo
*~
.*.swp
.*.swo

# IDE - Emacs
*~
\#*\#
.\#*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage
.nyc_output

# Misc
.cache
*.tgz
.npm
.eslintcache
.stylelintcache